<!-- views/admin/validar-doacoes.html -->
<section id="validarDoacoes" class="page-section hidden">
    <div class="table-container">
        <table class="data-table">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Aluno</th>
                    <th>Item</th>
                    <th>Qtd</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody id="tableValidacaoBody"></tbody>
        </table>
    </div>
</section>
