<!-- views/aluno/dashboard.html -->
<section id="dashboardAluno" class="page-section hidden">
    <div class="cards-grid">
        <div class="stat-card">
            <div class="stat-info">
                <h3>Saldo de Horas</h3>
                <p class="stat-value text-primary">12.5h</p>
            </div>
            <i class="fa-solid fa-clock"></i>
        </div>
        <div class="stat-card">
            <div class="stat-info">
                <h3>Doações Realizadas</h3>
                <p class="stat-value">4</p>
            </div>
            <i class="fa-solid fa-box-open"></i>
        </div>
    </div>
</section>
