<!-- views/aluno/historico.html -->
<section id="historicoAluno" class="page-section hidden">
    <div class="table-container">
        <table class="data-table">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Campanha</th>
                    <th>Horas</th>
                    <th>Status</th>
                    <th>Comprovante</th>
                </tr>
            </thead>
            <tbody id="tableHistoricoBody"></tbody>
        </table>
    </div>
</section>
